@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(199, 0, 0);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 84, 0);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100vw;
  overflow-x: hidden;
  background-color: #121212;
}

section {
  margin-top: 50px;
  margin-bottom: 50px;
}

.anchor {
  display: block;
  padding-top: 20px;
}

.navigation {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: #151030;
  height: 50px;
  z-index: 150;
}

.navigation .container {
  height: 100%;
}

.navigation__list {
  height: 100%;
  display: flex;
  justify-content: end;
  gap: 35px;
  align-items: center;
}

.navigation__item a {
  display: flex;
  text-decoration: none;
  padding: 0.3rem 1rem;
  border-radius: 15px;
  border: 1px solid white;
  color: white;
  transition: 0.3s all ease;
  cursor: pointer;
  text-decoration: none;
}

h1 {
  display: none;
  text-align: center;
  color: white;
  padding: 15px 0;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 900;
}

h2.subtitle {
  color: white;
  font-size: 2rem;
}

ul.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
  list-style: none;
}

.project {
  height: 455px;
  background-color: rgb(21, 16, 48);
  border-radius: 16px;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.project__img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  border-radius: 16px;
}

.project__top {
  width: 100%;
  height: 230px;
  position: relative;
}

.check-buttons {
  position: absolute;
  display: flex;
  justify-content: end;
  top: 3px;
  right: 3px;
  gap: 5px;
}

.thebutton {
  width: 40px;
  height: 40px;
  background: linear-gradient(to right, rgb(67, 67, 67), rgb(0, 0, 0));
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.thebutton img {
  width: 80%;
  height: 80%;
}

.project__title {
  margin-top: 20px;
  text-align-last: center;
  color: #fff;
  font-size: 24px;
}

.project__description {
  text-align: center;
  margin-top: 20px;
  color: rgb(170, 166, 195);
  font-size: 14px;
}

.project__tags {
  position: absolute;
  bottom: 10px;
  display: flex;
  gap: 5px;
}

.project__tag {
  font-size: 14px;
}

.tag1 {
  color: #24996a;
}
.tag2 {
  color: #41a3ef;
}
.tag3 {
  color: #f32f7b;
}

.check-buttons a {
  cursor: pointer;
}

.phone-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 200;
  background-color: rgba(5, 8, 22, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.phone-modal_active {
  display: flex;
}

.phone-modal .content {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  color: #000;
  position: relative;
  justify-content: space-evenly;
}

.qr {
  object-fit: contain;
  width: 300px;
  height: 300px;
}

.close {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

.close img {
  width: 40px;
  height: 40px;
}

.phone-modal .content .title {
  font-size: 1.2rem;
  font-weight: 500;
}

.phone-modal .content ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
}

@media screen and (max-width: 1400px) {
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 991px) {
}

@media screen and (max-width: 776px) {
}

@media screen and (max-width: 575px) {
}
