* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    overflow-x: hidden;
}
ol {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

li:nth-child(even) {
    background-color: #89AAE3;
}


li:nth-child(odd) {
    background-color: #EA738E;
}

li {
    min-height: 70px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: 0.3s all linear;
}

li:hover {
    transform: scale(1.1);
}

a {
    display: flex;
    width: 100%;
    height: 70px;
    margin: 0 auto;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    align-items: center;
    justify-content: center;
}

a:hover {
    text-decoration: underline;
    color: blue;
}



h1 {
    text-align: center;
    padding: 15px 0;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 900;
}