* {
  box-sizing: border-box; }

@keyframes line {
  0% {
    width: 0%;
    background-color: #00e1ff; }
  33% {
    width: 33%;
    background-color: #ffc526; }
  77% {
    width: 77%;
    background-color: #00e1ff; }
  100% {
    width: 100%;
    background-color: white; } }
body {
  margin: 0;
  padding: 0; }

.callme_1 {
  padding: 5px 10px !important;
  text-align: center;
  border: 1px solid white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100% !important;
  height: 40px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-weight: 400;
  color: white;
  margin-left: 50px;
  border-radius: 10px;
  transition: 0.3s all ease; }
  .callme_1:hover {
    background-color: white;
    color: black;
    transform: scale(1.1);
    transition: 0.3s all ease; }

.since {
  text-align: center; }

.fa-telegram-plane {
  font-size: 17px;
  color: white; }

.fa-instagram {
  font-size: 17px;
  color: white; }

.wrapper_header {
  display: flex;
  justify-content: space-between; }

header {
  min-height: auto !important;
  position: relative; }

.logo {
  font-family: "Open Sans", serif;
  font-size: 26px;
  color: white;
  text-transform: capitalize; }

.fb {
  width: 40px;
  height: 40px;
  padding: 10 px;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s all ease;
  margin-left: 85px;
  border-radius: 50%; }
  .fb:hover {
    transform: scale(1.5);
    transition: 0.1s all ease; }

.ig {
  width: 40px;
  height: 40px;
  padding: 10px;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  transition: 0.3s all ease;
  border-radius: 50%; }
  .ig:hover {
    transform: scale(1.5);
    transition: 0.1s all ease; }

.wrapthis {
  display: flex; }

.gotofb, .gotoig {
  text-decoration: none; }

h1 {
  font-family: "Open Sans", serif;
  font-weight: 400;
  font-size: 95px;
  text-align: center;
  margin-bottom: 0px;
  color: white;
  text-transform: capitalize; }

.redbox {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 37px;
  padding: 15px;
  background-color: #e47911;
  width: 480px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin-top: 15px; }

.video_content {
  position: absolute;
  top: 0px;
  left: 0px;
  height: auto;
  width: 100%;
  z-index: 1;
  filter: contrast(50%) opacity(95%) saturate(160%); }

.horizontal {
  background-color: white;
  height: 2px;
  width: 97%;
  margin: 0 auto;
  margin-top: 10px;
  animation: line 1.2s linear 0s normal none; }

.asking {
  font-family: "Source Code Pro", monospace;
  color: #e47911;
  font-size: 68px;
  width: 50px;
  margin-right: 22px; }

nav {
  width: 100%;
  position: absolute;
  top: 5px;
  z-index: 30; }

.menu {
  padding: 10px;
  border-radius: 10px;
  height: 65px;
  background-color: rgba(0, 0, 0, 0.431); }

.wrapper_nav {
  justify-content: space-between;
  display: flex; }

.youknow {
  font-family: "Volkhov", serif;
  font-size: 32px;
  font-weight: 400;
  color: #0A1A3D;
  width: 495px;
  line-height: 1.3em; }

.info {
  font-family: "Volkhov", serif;
  font-size: 34px;
  font-weight: 400;
  color: #0A1A3D;
  width: 560px;
  line-height: 1.35em; }

.allen {
  font-family: "Volkhov", serif;
  font-size: 40px;
  font-weight: 700;
  color: #e47911; }

.qualification_wrapper {
  display: flex; }

.dat {
  font-family: "Volkhov", serif;
  font-size: 38px;
  font-weight: 700;
  color: #0A1A3D; }

.division {
  background-color: #e47911;
  width: 5px;
  height: 70px;
  margin: 0 20px;
  margin-top: 5%;
  border-radius: 5px; }

.qualification {
  padding: 60px 0px; }

.example_loads {
  background-color: pink; }

.video_wrap {
  position: relative;
  padding-bottom: 56.25%; }
  .video_wrap::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/no_video_bg.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1; }
  .video_wrap::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(192, 149, 84, 0.22); }

.header__content {
  position: absolute;
  margin: 0;
  padding: 0;
  left: 0;
  top: 50%;
  width: 100%;
  height: auto;
  z-index: 20;
  transform: translateY(-50%); }

.changecontainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.routes {
  padding: 70px 0;
  min-height: 895px;
  background: url("../img/bg_slider.png") no-repeat 50%/cover; }
  .routes__header {
    display: grid;
    grid-template-columns: 582px 288px 248px;
    justify-content: space-between;
    align-items: center; }
    .routes__header-title {
      color: #ffffff;
      font-size: 55px;
      font-weight: 700; }
    .routes__header-btn {
      width: 288px;
      color: #ffffff;
      border: 2px solid #FFFFFF;
      border-radius: 2px;
      display: flex;
      align-items: center;
      transition: all 0.4s; }
      .routes__header-btn a {
        padding: 15px 80px;
        width: 100%;
        text-align: center;
        text-decoration: none;
        color: #ffff; }
    .routes__header-warn {
      font-size: 14px;
      line-height: 16px;
      color: #ffffff; }
  .routes__subtitle {
    font-weight: 700;
    margin-top: 20px;
    font-size: 35px;
    color: #ffffff; }
  .routes__title {
    font-size: 30px;
    font-weight: 500;
    color: #0A1A3D;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
  .routes__list {
    margin-top: 15px;
    list-style-type: none; }
    .routes__list li {
      position: relative;
      margin-bottom: 10px;
      font-size: 19px;
      color: #0A1A3D; }
      .routes__list li::before {
        content: "";
        position: absolute;
        width: 12px;
        height: 12px;
        border: 3px solid #e47911;
        border-radius: 100%;
        top: 8px;
        left: -20px; }
      .routes__list li span {
        color: #6F7787; }
  .routes__btn {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    width: 475px; }
    .routes__btn-red {
      padding: 15px;
      text-align: center;
      color: #ffffff;
      font-size: 15px;
      text-decoration: none;
      width: 229.85px;
      height: 48.46px;
      background: #E5242E;
      border-radius: 2px;
      filter: drop-shadow(5px 7px 4px rgba(95, 15, 19, 0.38));
      transition: all 0.5s ease; }
      .routes__btn-red:hover {
        background: #fff;
        color: #E5242E; }
    .routes__btn-white {
      padding: 15px;
      text-align: center;
      color: #E5242E;
      font-size: 15px;
      text-decoration: none;
      width: 229.85px;
      height: 48.46px;
      border: 1px solid #E5242E;
      border-radius: 2px;
      transition: all 0.5s ease;
      filter: drop-shadow(5px 7px 4px rgba(95, 15, 19, 0.38)); }
      .routes__btn-white:hover {
        background: #E5242E;
        color: #ffffff; }
  .routes__dots {
    display: flex;
    justify-content: center; }
  .routes__dot {
    cursor: pointer;
    justify-content: center;
    margin-top: 30px;
    margin-left: 15px;
    align-items: center;
    display: flex;
    height: 36px;
    width: 36px;
    border-radius: 100%;
    background: rgba(116, 116, 116, 0.78); }

.mySlides {
  padding: 38px 30px 43px 47px;
  display: none;
  grid-template-columns: 538px minmax(450px, auto);
  column-gap: 55px; }

.slideshow-container {
  max-width: 1300px;
  position: relative;
  margin-top: 50px;
  height: 500px;
  padding: 0 30px 0;
  background: #ffffff;
  border-radius: 4px; }

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #fff;
  font-weight: 700;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  text-decoration: none; }
  .prev:hover, .next:hover {
    background-color: #e47911;
    color: #FFFFFF; }

.next {
  right: -25px;
  border-radius: 3px 0 0 3px;
  width: 60px;
  height: 60px;
  color: #e47911;
  background: #FFFFFF;
  border-radius: 2px;
  box-shadow: -5px 7px 12px rgba(85, 11, 15, 0.19);
  z-index: 2;
  padding: 19px 23px;
  cursor: pointer; }

.prev {
  left: -25px;
  width: 60px;
  height: 60px;
  color: #E5242E;
  background: #FFFFFF;
  border-radius: 2px;
  box-shadow: -5px 7px 12px rgba(85, 11, 15, 0.19);
  padding: 19px 23px;
  cursor: pointer;
  z-index: 2; }

.dots {
  display: flex;
  justify-content: center; }

.dot {
  cursor: pointer;
  justify-content: center;
  margin-top: 30px;
  margin-left: 15px;
  align-items: center;
  display: flex;
  height: 36px;
  width: 36px;
  border-radius: 100%;
  background: rgba(116, 116, 116, 0.78);
  transition: all 0.5s ease; }

.routes__slide-body {
  max-width: 415px; }

.active, dot:hover {
  background-color: #fff;
  color: #E5242E; }

.howworks {
  position: relative;
  background-color: #E5E5E5;
  padding-top: 80px;
  padding-bottom: 80px;
  z-index: 10 !important; }
  .howworks__header {
    font-family: "Volkhov", serif;
    font-weight: 400;
    font-size: 68px;
    color: #0A1A3D;
    margin-bottom: 45px; }
  .howworks__item {
    width: 740px;
    height: 255px;
    display: flex;
    background-color: white;
    padding-left: 55px;
    padding-bottom: 55px;
    margin-bottom: 30px; }

.item__circle {
  margin-top: 60px;
  margin-right: 20px;
  width: 60px;
  height: 60px;
  background-color: #e47911;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Sofadi One", cursive;
  font-size: 35px;
  color: white; }

.item__text {
  margin-top: 35px; }

.item__text_header {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 35px;
  color: #0A1A3D;
  margin-bottom: 10px; }

.item__text_descr {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #0A1A3D;
  width: 560px; }

.divider_margin {
  margin-bottom: 15px; }

.wrap_dots {
  display: flex;
  height: 300px;
  width: 740px !important;
  z-index: -1; }

.dots__bg {
  position: absolute !important;
  left: 0px !important;
  z-index: -1 !important;
  width: 650px;
  height: 650px;
  transform: translateY(-25%); }

.results {
  padding-top: 70px;
  padding-bottom: 150px;
  background-image: url("../img/our_results_bg.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 710px; }

.results__header {
  color: #fff;
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 90px; }

.results__item {
  display: flex;
  align-items: center; }

.results__item-main {
  max-width: 818px;
  margin-left: 15%;
  display: flex; }

.results__item-descr {
  color: #fff;
  font-size: 48px; }

.results__item-circle {
  position: relative;
  width: 208px !important;
  height: 208px !important;
  border-radius: 100% !important;
  background: #24E571 !important;
  font-size: 96px;
  color: #ffff;
  display: flex;
  justify-content: center;
  align-items: center; }
  .results__item-circle span {
    position: absolute;
    font-size: 20px;
    top: 40px; }

.results__item-arrow {
  position: absolute;
  top: 15px; }

.more {
  top: 10px; }

.ml80 {
  margin-left: 80px; }

.ml40 {
  margin-left: 40px; }

.results__wrapper {
  margin-top: 40px; }

.wrap_column {
  display: flex;
  justify-content: space-between; }

.divider {
  width: 90px;
  background-color: #e47911;
  margin-top: 60px;
  margin-bottom: 60px;
  height: 3px; }

.item_5 {
  margin-left: 30% !important; }

.services {
  padding-top: 30px;
  padding-bottom: 70px; }

.services_affirm, .service_affirm {
  max-width: 600px;
  margin: auto; }

.services__header__title {
  font-family: "Volkhov", serif;
  font-weight: bold;
  font-size: 68px; }

.services_list_section_title {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 35px;
  text-align: center;
  width: 600px;
  margin-bottom: 40px; }

.services_list_section_subtitle {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 22px;
  text-align: center;
  margin-bottom: 0; }

cite {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 22px;
  display: block;
  margin: 0 auto;
  width: 100px; }

.services_list_item {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 25px;
  min-width: 220px;
  max-width: 400px;
  margin-bottom: 20px;
  padding-left: 5px; }

.services_list__ {
  list-style-image: url("../img/list_point.svg");
  border-left: 1px rgba(10, 26, 61, 0.4) solid;
  padding: 0 50px;
  margin-left: 40px;
  height: 100% !important; }

.wrap_services_lists {
  display: flex; }

.wrap_the_list {
  display: flex; }

.icon_list {
  width: 60px;
  height: 60px; }

.services_affirmation {
  display: flex;
  width: 645px;
  margin-top: 45px; }

.margin_divid {
  margin-top: 50px; }

.services_affirmation {
  padding-left: 30px;
  margin-bottom: 130px; }

.icon_list_1 {
  width: 75px;
  height: 50px; }

.services_list_section_1 {
  margin-left: 70px; }

.fade:not(.show) {
  opacity: 1; }

.faq_header_h2 {
  font-family: "Volkhov", serif;
  font-weight: bold;
  font-size: 68px;
  color: white; }

.faq {
  min-height: 900px;
  background-image: url("../img/faq.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 70px;
  padding-bottom: 150px;
  position: relative; }
  .faq::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #E5E5E5;
    top: 0;
    left: 0;
    z-index: -2; }

.faq_subtitle {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 35px;
  color: white;
  margin-top: 25px;
  margin-bottom: 50px; }

.faq__header {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 25px;
  font-weight: 600;
  color: #0A1A3D;
  margin: 0; }

.acardion {
  max-width: 700px;
  display: flex;
  flex-direction: column; }
  .acardion__item {
    position: relative;
    background-color: #FFFF;
    padding: 15px 30px 15px 25px;
    margin-bottom: 15px; }
    .acardion__item:after {
      content: "";
      display: block;
      position: absolute;
      background: url("../img/Shape.svg") 10%/cover;
      top: 30px;
      right: 30px;
      width: 20px;
      height: 10px;
      transition: all 0.5s ease; }
    .acardion__item-head {
      font-family: "Volkhov";
      font-size: 21px;
      font-weight: 60000;
      color: #000;
      cursor: pointer; }
    .acardion__item-body {
      display: block;
      background-color: #fff;
      position: relative;
      height: 0px;
      overflow: hidden;
      font-family: "Volkhov";
      font-weight: 400;
      font-size: 15px;
      transition: all 0.5s ease-in-out; }

.acardion__item.show .acardion__item-body {
  height: auto;
  padding-top: 20px;
  padding-bottom: 30px; }

.acardion__item.show {
  border: 1px solid #E47911;
  border-radius: 4px; }

.acardion__item.show::after {
  content: "";
  display: block;
  position: absolute;
  background: url("../img/Shape.svg") 10%/cover;
  top: 30px;
  right: 30px;
  width: 20px;
  height: 10px;
  transform: rotate(180deg);
  transition: all 0.5s ease; }

.acardion__item.show .acardion__item-head {
  color: #E47911; }

.dd_no_margin {
  margin-bottom: 0; }

.safety_section {
  padding-top: 50px;
  background-color: #E5E5E5;
  padding-bottom: 70px; }

.safety_header {
  font-family: "Volkhov", serif;
  font-weight: 700;
  font-size: 50px;
  color: black;
  margin-bottom: 40px; }

.safety_subtitle {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 22px;
  margin-bottom: 40px; }

.safety_item_list {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 22px;
  padding-left: 5px;
  margin-bottom: 20px;
  margin-left: 20px; }

.list_first {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 25px;
  color: #0A1A3D; }

.safety_wrap_this_list {
  display: flex;
  justify-content: space-between; }

.safety_list_1 {
  display: flex; }

.safety_list_here_1, .safety_list_here_2 {
  list-style-image: url("../img/list_point.svg");
  border-left: 1px rgba(10, 26, 61, 0.4) solid;
  height: 100% !important;
  padding: 0 40px; }

.safety_list_icon {
  width: 70px;
  height: 70px;
  margin-right: 50px; }

.da_header {
  font-family: "Volkhov", serif;
  font-weight: 700;
  font-size: 50px;
  color: black;
  margin-bottom: 40px; }

.da_recommend {
  padding-top: 60px;
  padding-bottom: 100px; }

.image_url_recommend {
  margin-right: 40px; }

.wrapp_recommend {
  display: flex;
  justify-content: center; }

.safety_item_list_recommend {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 25px;
  color: #0A1A3D;
  padding-left: 20px;
  margin-bottom: 20px; }

.instagram {
  background-image: url("../img/truck_wallbg.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 60px;
  min-height: 900px !important; }

.instagram__header {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 55px;
  color: white;
  text-align: center; }

.insta__go {
  display: block;
  width: 630px;
  height: 400px; }

.insta__image {
  width: 100%;
  height: auto; }

.insta__wrapper {
  display: flex;
  margin-top: 50px; }

.insta_list_img {
  width: 230px;
  height: 130px; }

.insta__item {
  margin-bottom: 40px;
  display: flex;
  transition: 0.1s ease; }
  .insta__item:hover {
    transform: scale(1.05) !important;
    transition: 0.1s ease; }

.header_likeit {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 25px; }

.header_text {
  color: white;
  margin-left: 30px; }

.position_after {
  margin: 0 auto;
  transform: rotate(90deg);
  margin-top: 1% !important; }

.newc {
  font-size: 68px; }

.map {
  background-color: #2F3646; }

._point__text {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: white;
  margin-left: 30px; }

.point_label {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 15px;
  display: block;
  background-color: #E20A0A;
  width: 130px;
  height: 25px;
  border-radius: 6px; }

.label_descr {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; }

.point_about {
  display: flex;
  margin-top: 70px; }

._point__icon:hover {
  transform: scale(1.1);
  transition: 0.1s ease;
  cursor: pointer; }

.wrapper__map {
  display: flex;
  justify-content: space-around; }

.map_yandex {
  margin-left: 140px;
  width: 100%;
  height: 530px; }

.text_map {
  padding-top: 50px;
  padding-bottom: 60px; }

.callme {
  padding-top: 70px;
  padding-bottom: 140px; }

.__header_form {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 68px;
  color: #000;
  text-align: center; }

.mijloc_flex {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 50px;
  width: 90px;
  background: #E5242E;
  height: 3px; }

.submitbtn {
  text-transform: uppercase;
  width: 100%;
  height: 50px;
  border-radius: 2px;
  background-color: #E5242E;
  border: none;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: white;
  transition: 0.1s ease; }
  .submitbtn:hover {
    transform: scale(1.07);
    transition: 0.1s ease; }

.place_form {
  background-color: #E1E0E0;
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 8px;
  padding-left: 20px; }

.form_send {
  display: grid;
  grid-template-columns: 500px 400px 225px;
  column-gap: 50px;
  justify-content: center; }

.form_post {
  padding: 40px 0 140px; }

.forma {
  margin-top: 50px; }

.w400 {
  width: 400px !important; }

@media (max-width: 1200px) {
  .fb {
    margin-left: 10px !important; }
    .fb:hover {
      transform: scale(1) !important;
      transition: 0.1s all ease !important; }

  .ig:hover {
    transform: scale(1) !important; }

  .youknow {
    width: 475px !important;
    font-size: 25px !important; }

  .asking {
    margin: 0 !important; }

  .division {
    margin: 0 10px !important; }

  .info {
    width: 375px !important;
    font-size: 25px !important; }
    .info span {
      font-size: 25px !important; }

  .slideshow-container {
    height: 970px !important; }
    .slideshow-container img {
      width: 100% !important; }

  .mySlides {
    flex-direction: column !important; }

  .routes__header {
    grid-template-columns: 300px 288px 248px !important; }

  .routes__header-title {
    font-size: 31px !important; }

  .routes__subtitle {
    font-size: 30px; }

  .routes__btn {
    width: 100% !important;
    flex-direction: column !important;
    margin: 0 !important; }
    .routes__btn-red {
      width: 100% !important;
      margin-bottom: 10px; }
    .routes__btn-white {
      width: 100% !important; }

  .prev:hover, .next:hover {
    background: #fff;
    color: #E5242E; }

  .howworks__header {
    font-size: 33px !important; }

  .dots__bg {
    position: absolute !important;
    z-index: -1 !important; }

  .item_4 {
    margin-left: 0 !important; }

  .item_5 {
    margin-left: 0 !important; }

  .wrapper {
    display: flex !important;
    flex-direction: column; }

  .wrap_column {
    flex-direction: column !important; }

  .divider {
    display: none !important; }

  .ml80 {
    margin-left: 40px; }

  .results__item {
    margin-bottom: 15px; }

  .results__item-main {
    align-items: center;
    margin-left: 0;
    margin-bottom: 15px; }

  .results__header {
    margin-bottom: 50px; }

  .services__header__title {
    text-align: center !important; }

  .services_affirmation {
    margin-bottom: 100px !important;
    width: 100% !important;
    flex-direction: column !important; }

  .services_list_section_title {
    width: 100% !important;
    margin-bottom: 0 !important; }

  .safety_header {
    text-align: center !important; }

  .safety_subtitle {
    text-align: center !important; }

  .map_yandex {
    width: 400px !important;
    margin-left: 50px !important; }

  .form_send {
    grid-template-columns: 300px 300px 225px; } }
@media (max-width: 992px) {
  .callme_1 {
    margin-left: 10px !important; }
    .callme_1:hover {
      color: #fff !important;
      transform: scale(1) !important; }

  .main_heading h1 {
    font-size: 85px; }

  .routes__header {
    grid-template-columns: 179px 150px 225px !important; }

  .routes__header-title {
    font-size: 18px !important; }

  .routes__header-btn {
    width: 200px !important; }
    .routes__header-btn a {
      padding: 10px 50px !important;
      font-size: 13px !important; }

  .slideshow-container {
    height: 790px !important; }

  .howworks__item {
    width: 100% !important;
    padding-right: 20px !important;
    padding-left: 25px !important;
    padding-bottom: 20px !important;
    height: auto !important; }

  .wrap_dots {
    height: auto !important;
    width: 100% !important; }

  .results__item-descr {
    font-size: 35px; }

  .item__circle {
    display: none !important; }

  .dots__bg {
    display: none !important; }

  .item__text_descr {
    width: 100% !important; }

  .wrap_services_lists {
    flex-direction: column !important; }

  .services_list_section_1 {
    margin-left: 15px !important; }

  .safety_list_icon {
    margin-right: 5px !important; }

  .safety_item_list {
    font-size: 17px !important; }

  .safety_list_here_1, .safety_list_here_2 {
    padding: 0 15px !important; }

  .list_first {
    font-size: 20px !important; }

  .pl32 {
    padding-left: 32px !important; }

  .insta__image {
    width: 390px !important;
    margin: auto !important; }

  .insta__wrapper {
    flex-direction: column !important; }

  .insta__go {
    width: auto !important;
    margin: auto !important;
    margin-bottom: 50px !important; }

  .wrapper__map {
    flex-direction: column !important; }

  .map_yandex {
    margin-left: 0 !important;
    width: auto !important; }

  .newc {
    text-align: center !important; }

  .point_about {
    margin-top: 30px !important;
    justify-content: center !important; }

  .form_send {
    grid-template-columns: 250px 250px 135px;
    column-gap: 25px; } }
@media (max-width: 768px) {
  .redbox {
    width: 310px !important;
    font-size: 23px !important;
    height: 45px !important; }

  .main_heading h1 {
    font-size: 55px; }

  .fb {
    margin-left: 35px !important; }

  .ig {
    margin-left: 8px !important; }

  .info {
    font-size: 16px !important; }
    .info span {
      font-size: 16px !important; }

  .youknow {
    font-size: 16px !important; }

  .routes__header {
    grid-template-columns: 179px 150px 125px !important; }

  .routes__header-btn {
    width: 150px !important; }
    .routes__header-btn a {
      padding: 10px 30px !important; }

  .slideshow-container {
    height: 690px !important; }

  .routes__subtitle {
    font-size: 33px !important; }

  .results__item-arrow {
    display: none; }

  .results__item-circle {
    height: 150px !important;
    width: 150px !important;
    font-size: 60px !important; }
    .results__item-circle span {
      top: 25px !important; }

  .results__item-descr {
    font-size: 30px !important; }

  .results__item {
    margin-bottom: 65px !important; }

  .results__item-main {
    margin-bottom: 65px; }

  .accordion-item {
    width: 100% !important; }

  .faq_subtitle {
    font-size: 30px !important; }

  .safety_header {
    font-size: 40px !important; }

  .safety_wrap_this_list {
    flex-direction: column !important; }

  .safety_list_icon {
    display: none !important; }

  .da_header {
    font-size: 35px !important; }

  .image_url_recommend {
    width: 300px !important;
    margin: auto !important; }

  .wrapp_recommend {
    flex-direction: column !important; }

  .pl32 {
    margin-top: 20px !important; }

  .instagram__header {
    font-size: 40px !important; }

  .header_descr {
    font-size: 15px !important; }

  .form_send {
    display: flex;
    flex-direction: column !important; }

  .place_form {
    margin-bottom: 20px; }

  .__header_form {
    font-size: 45px; }

  .acardion__item-head {
    font-size: 19px; } }
@media (max-width: 576px) {
  .logo {
    font-size: 13px !important; }

  .fb {
    width: 25px !important;
    height: 25px !important; }

  .ig {
    width: 25px !important;
    height: 25px !important; }

  .callme_1 {
    font-size: 11px !important;
    height: 25px !important; }

  .main_heading h1 {
    font-size: 15px; }

  .redbox {
    width: 170px !important;
    font-size: 11px !important;
    height: 10px !important; }

  .changecontainer {
    height: 180px !important; }

  .main_heading {
    margin-top: 25px !important; }

  .youknow {
    font-size: 11px !important; }

  .info {
    font-size: 11px !important; }
    .info span {
      font-size: 11px !important; }

  .asking {
    font-size: 46px !important; }

  .routes__header-btn {
    display: none !important; }

  .routes__header {
    grid-template-columns: 1fr 1fr !important; }

  .routes__subtitle {
    font-size: 15px !important; }

  .routes__header-warn {
    font-size: 10px !important; }

  .slideshow-container {
    height: 640px !important;
    padding: 0 !important; }

  .next {
    right: -12px !important;
    width: 35px !important; }

  .dot {
    margin-left: 6px !important;
    width: 25px !important;
    height: 25px !important; }

  .wrap_dots {
    font-size: 18px !important; }

  .results__header {
    font-size: 35px !important; }

  .results__item-circle {
    height: 100px !important;
    width: 100px !important; }
    .results__item-circle span {
      font-size: 14px !important;
      top: 12px !important; }

  .results__item-descr {
    font-size: 17px !important; }

  .ml80 {
    margin-left: 15px !important; }

  .ml40 {
    margin-left: 15px !important; }

  .results {
    height: 710px !important; }

  .results__item {
    margin-bottom: 60px !important; }

  .icon_list_1, .icon_list {
    display: none !important; }

  .services_list_section_1 {
    margin-left: 0 !important; }

  .services_list__ {
    padding: 35px !important;
    margin-left: 2px !important; }

  .services_list_item {
    font-size: 15px !important; }

  .services_affirmation {
    padding: 0 !important; }

  .faq_header_h2 {
    font-size: 50px !important; }

  .faq_subtitle {
    font-size: 25px !important; }

  .accordion-body {
    font-size: 18px !important; }

  .safety_header {
    font-size: 33px !important; }

  .safety_subtitle {
    font-size: 20px !important; }

  .instagram__header {
    font-size: 32px !important; }

  .insta__image {
    width: 100% !important; }

  .insta__go {
    height: 100% !important; }

  .insta__item {
    flex-direction: column !important;
    align-items: center !important; }

  ._listforinstagram {
    padding-left: 0rem !important; }

  .acardion__item-head {
    font-size: 15px; }

  .acardion__item:after {
    top: 22px;
    right: 10px; } }

/*# sourceMappingURL=style.css.map */
